{% load static %}
<html lang="en" dir="ltr">
    <head>
        <title>Graceofchrist</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Grace of Christ">
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>

        <button onclick="topFunction()" id="myBtn1" title="Go to top"><img src="{% static 'photo\arrow.png'%}" id="top"></button>

    <div class="navbar">
        <a href="#" class="toggle" id="navHamburger">
            <i class="fas fa-bars"></i>
        </a>
        <a href="{% url 'home' %}" class="brand">
            <h3><u>GRACE OF </u><span><u>CHRIST</u></span></h3>
            <br><h5>JESUS <span>MINISTRY</span></h5>
        </a>
        <nav>
            <div class="right">
                <a href="{% url 'home' %}" class="link" id="active">HOME</a>
                <a href="{% url 'book' %}" class="link">BOOK</a>
                <a href="{% url 'kids' %}" class="link">KIDS</a>
                <a href="{% url 'event' %}" class="link">EVENT</a>
                <a href="{% url 'prayer' %}" class="link">PRAYER</a>
                <a href="{% url 'testimony' %}" class="link">TESTIMONY</a>
                <a href="{% url 'galary' %}" class="link">GALLARY</a>
                <a href="{% url 'contact_us' %}" class="link">CONTACT US</a>
                <a href="#" class="link">DONATION</a>
            </div>
        </nav>
    </div>


        <div class="image-box">
            <img src="{% static 'photo\gif1.jpg'%}" width="" height="" >
        </div>
        <br>
        <section id="blog-sec">
            <div class="container6">
                <h1 class="main-heading">Promises</h1>

                <div class="blog-pics">
                    <div class="main-div">
                        <iframe width="90%;" height="250px;" src="https://www.youtube.com/embed/{{val.Promise_Of_the_day}}"></iframe>
                        <div class="blog-head">

                            <h5 class="blog-date">Promise of the day</h5><br><br><br>
                            <h6 class="blog-data">‬{{val.Promise_Of_the_day_Proverb}}</h6><br>
                        </div>
                    </div>

                    <div class="main-div">

                        <iframe width="90%;" height="250px;" src="https://www.youtube.com/embed/{{val.Promise_Of_the_Month}}"></iframe>
                        <div class="blog-head">

                            <h5 class="blog-date">Promise of the month</h5><br><br><br>
                            <h6 class="blog-data">{{val.Promise_Of_the_Month_Proverb}}</h6><br>
                        </div>
                    </div>
                    <div class="main-div">
                        <img src="{% static 'photo\Bible.jpg'%}" width="90%;" height="250px;" >
                        <div class="blog-head">

                            <h5 class="blog-date">Thought Of the day</h5><br><br><br>
                            <h6 class="blog-data">{{para}}<button>Read More</button>‬</h6><br>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="head">
            <h3>Our Ministry</h3>
        </div>
        <div class="workwithus">
            <div class="container1">
                <div class="box1">
                    <div class="content1">
                        <img src="{% static 'photo\people.png' %}">
                        <p>Outdoor Ministry at Church</p>
                    </div>
                </div>
                <div class="box1">
                    <div class="content1">
                        <img src="{% static 'photo\virus.png' %}">
                            <p>Fasting Prayer</p>
                    </div>
                </div>
                <div class="box1">
                    <div class="content1">
                        <img src="{% static 'photo\hos.png' %}">
                        <p>Magazine Ministry</p>
                    </div>
                </div>
                <div class="box1">
                    <div class="content1">
                        <img src="{% static 'photo\old.png' %}">
                        <p>Village Minitry</p>
                    </div>
                </div>
                 <div class="box1">
                    <div class="content1">
                        <img src="{% static 'photo\cross.png' %}">
                        <p>Jail Ministry</p>
                    </div>
                </div>
                <div class="box1">
                    <div class="content1">
                        <img src="{% static 'photo\teacher.png' %}">
                        <p>Bible Ministry</p>
                    </div>
                </div>
                <div class="box1">
                    <div class="content1">
                        <img src="{% static 'photo\fri.png' %}">
                        <p>Children Minitry</p>
                    </div>
                </div>
            </div>
        </div>
    <section id="options">
        <div class="container grd">
            <!-- first box -->
            <div class="box">
                <img src="{% static 'photo\book1.jpg' %}" class="bx" alt="" style="margin-top: 50px; margin-bottom: 30px;  height: 300px">
                <h3>MONTHLY E-MAGAZINE</h3>

                <a href="#"><button>DOWNLOAD</button></a>
            </div>
            <!-- second box -->
            <div class="box">



                <img src="{% static 'photo\pro.png' %}" class="bx" alt="" style="margin-top: 20px; margin-bottom: 10px; ">
                <h3>YOUTUBE CHANNEL</h3>
                <a href="#"><button>MORE VIDEO</button></a>
            </div>
            <!-- third box -->
            <div class="box">
                <img src="{% static 'photo\donate.png' %}" class="bx" alt="" style="margin-top: 30px; margin-bottom: 20px;">
                <h3>DONATE</h3>
                <a href="#"><button>DONATE</button></a>
            </div>
        </div>
    </section>
        <footer>
            <section id="options9">
                <div class="container9">
                <!-- first box -->
                    <div class="box9">
                        <div class="logoname"><h3><u>GRACE OF CHRIST</u></h3><br><h5>JESUS MINISTRY</h5></div>

                        <h3 id = "color">Every word of God proves true;<br>
                            he is a shield to those who take<br>
                            refuge in him.<br>
                            Proverbs 30:5<br>
                        </h3>
                    </div>
                <!-- second box -->
                    <div class="box9">
                        <h3 style="color:white;">Want to know more?<br>
                            24*7 Prayers<br>
                            99442-54902 &<br>
                            0422-2445255<br></h3>
                        <p id = "color">Follow Us</p>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                <!-- third box -->
                    <div class="box9">
                        <h3 style="color:white;">ADDRESS</h3>
                        <h3 >Sis.Sheela Vijayakumar,<br>
                            “Grace of Christ Jesus Trust”<br>
                            9A, Kanniga Nagar (Upstairs),<br>
                            Kanda Konar Layout,<br>
                            Kavundampalayam,<br>
                            Coimbatore – 641030<br>
                            Tamilnadu, India.<br>
                        </h3>
                        <a href="{% url 'admin1' %}" style="color:#00000000;">admin1</a>
                    </div>

                </div>
            </section>
        </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        const navHamburger = document.querySelector('#navHamburger');
        navHamburger.addEventListener('click', (e) => {
            navHamburger.parentElement.classList.toggle('active');
        })
    </script>
    <script>

        var mybutton = document.getElementById("myBtn1");


        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }


        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
        </script>

</html>