{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>status</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <style>
        .hello-msg{
            font-size: 18px;
            color:white;
            margin-right: 20px;
          }
          h3, h1{
              text-align: center;
          }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="{% url 'home' %}">
            <img id="img" src="{% static 'photo/logo4.png' %}" alt="image" style="width: 100px; height:40px; border-radius:40px">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'contact' %}">They want to contect You! </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'pray' %}">Prayer request</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'notify_up' %}">User wants notifications</a>
            </li>

          </ul>
      </div>
        <span class="hello-msg" style="left:-10px">Hello, {{request.user}}</span>
        <span class="hello-msg">
          <a href="{% url 'logout' %}">logout</a>
        </span>
    </nav>
    <br>
    <h1>PENDING LIST</h1>
    <hr>
    <br>
    <h3>PEOPLE INTERSTED IN BOOKS</h3>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Book name</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for i in context_a %}
            <tr>
                <th scope="row">{{i.first_name}}</th>
                <td>{{i.phone_number}}</td>
                <td>{{i.book_name}}</td>
                <td><a class="btn btn-sm btn-primary"  href="{% url 'add' i.id %}">ADD</a></td>
                <td><a class="btn btn-sm btn-danger" href="">DELETE</a></td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <br>
      <h3>PEOPLE INTERSTED IN DONATION</h3>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for i in context_b %}
            <tr>
                <th scope="row">{{i.first_name}}</th>
                <td>{{i.phone_number}}</td>
                <td><a class="btn btn-sm btn-primary"  href="{% url 'add' i.id %}">ADD</a></td>
                <td><a class="btn btn-sm btn-danger" href="">DELETE</a></td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <br>
      <h3>PEOPLE INTERSTED IN SUBSCRIPTION</h3>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for i in context_c %}
            <tr>
                <th scope="row">{{i.first_name}}</th>
                <td>{{i.phone_number}}</td>
                <td><a class="btn btn-sm btn-primary"  href="{% url 'add' i.id %}">ADD</a></td>
                <td><a class="btn btn-sm btn-danger" href="">DELETE</a></td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <br>
      <h1>PAYED LIST</h1>
    <hr>
    <br>
    <h3>PEOPLE INTERSTED IN BOOKS</h3>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Book name</th>
            <th scope="col">City</th>
            <th scope="col">Pincode</th>
          </tr>
        </thead>
        <tbody>
            {% for i in context_a1 %}
            <tr>
                <th scope="row">{{i.first_name}}</th>
                <td>{{i.phone_number}}</td>
                <th>{{i.book_name}}</th>
                <td>{{i.city }}</td>
                <td><a href="{% url 'view' i.id %}">{{i.pincode}}</a></td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <br>
      <h3>PEOPLE INTERSTED IN DONATION</h3>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">City</th>
            <th scope="col">Pincode</th>
          </tr>
        </thead>
        <tbody>
            {% for i in context_b1 %}
            <tr>
                <th scope="row">{{i.first_name}}</th>
                <td>{{i.phone_number}}</td>
                <td>{{i.city }}</td>
                <td><a href="{% url 'view' i.id %}">{{i.pincode}}</a></td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <br>
      <h3>PEOPLE INTERSTED IN SUBSCRIPTION</h3>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">City</th>
            <th scope="col">Pincode</th>
          </tr>
        </thead>
        <tbody>
            {% for i in context_c1 %}
            <th scope="row">{{i.first_name}}</th>
                <td>{{i.phone_number}}</td>
                <td>{{i.city }}</td>
                <td><a href="{% url 'view' i.id %}">{{i.pincode}}</a></td>
              </tr>
            {% endfor %}
        </tbody>
      </table>      
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
