@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&family=Balsamiq+Sans:wght@400;700&family=Cinzel:wght@700&family=Courgette&family=Cutive&family=Fredoka+One&family=Indie+Flower&family=Itim&family=Kalam&family=Love+Ya+Like+A+Sister&family=Marcellus+SC&family=Merienda:wght@700&family=Roboto&family=Ubuntu&family=Varela+Round&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width:100%;
  background: rgba(34, 48, 71, 0.25);
}

/*---------------------------------------------------header---------------------------------*/

.head{
  padding-top:30px;
  text-align: center;
  text-transform: uppercase;
  line-height: 15px;
  color:#ff4400;
  padding-left: 50px;
  font-family: 'Cinzel', serif;
}
.home{

  float: right;
  padding-right: 50px;

}
.home img{
  width: 7em;

}
.header{
  margin: 0;
  background: #223047;
  width: 100%;
  height:120px;
}
.head span{
  color: white;
}
@media (max-width: 768px)
{
  .head{

  }
  .home img{
    width: 5em;
    margin-top: 10px;
    margin-left: 20px;

  }

}


a{
text-decoration: none;
text-align: center;
}
.container{

  width: 50%;
  padding: 20px;
  margin: 75px auto;

  display: flex;
  flex-direction: row;
  justify-content: center;

}

.box{
  width: 250px;
  height: 300px;

  margin: 0 10px;
  transition: 1s;

}
.box:hover{
  transform: scale(1.6);

  z-index: 2;


}
img{
width: 15rem;
}
@media screen and (max-width: 780px) {
  .box{
    width: 50%;
    display: block;
    position: relative;
    margin-top: 100px;

  }
  .container{

    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;

  }

}
.button_container{
  text-align: center;
  line-height:2 ;
  font-size: 15px;
  color:black;
  font-family: 'Cinzel', serif;
}

.button_container button{
  width: 50%;
  font-family: 'Cinzel', serif;
  background: #223047;
  height: 50px;
  cursor: pointer;
  margin-bottom: 100px;
  border: none;
  color: white;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  transition: 0.5s;
}
.button_container button:hover{
  background: #007aff;
}
@media (max-width: 768px) {
.container{
  width: 80%;
  margin-left: 50px;
  padding-left: 50px;
}
  .head{
    font-size: 12px;

  }

}
