@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&family=Balsamiq+Sans:wght@400;700&family=Cinzel:wght@700&family=Courgette&family=Cutive&family=Fredoka+One&family=Indie+Flower&family=Itim&family=Kalam&family=Love+Ya+Like+A+Sister&family=Marcellus+SC&family=Merienda:wght@700&family=Roboto&family=Ubuntu&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
}
/*-------------------------------------------- navigation ------------------------------------------------*/
.navbar {

    background: #223047;
}

.navbar div {
    display: none;
}
.navbar .toggle,
.navbar .brand {
    display: block;
}
.navbar .link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;

    color: white;
}
.navbar .link:hover,
.navbar .link:active {
    color: coral;
    transition: 0.5s;

}

.navbar .brand {

    width: 100%;
    text-align: center;
    padding: 2em;
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;

    font-weight: bold;
    color: white;
}
.navbar a {
    text-decoration: none;
}
.navbar .toggle {
    padding: 1em;
    color: #00ffea;
}
.brand h3{

    font-size: 35px;
    color: #ffffff;
    text-decoration-color: white;

}
.brand h5{
    line-height: 4px;
    font-size: 25px;
    text-align: center;


}
.navbar .brand span{
    color: coral;
    text-align: center;

}
.navbar .right{
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    text-align: center;


}
@media (min-width: 1080px) {
    .navbar {
        display: block;
    }
    .navbar .left,
    .navbar .right {
        display: flex;
        flex:1;
    }
    .navbar .link {
        width: 100%;
    }
    .navbar .right {
        justify-content: flex-end;
    }
    .navbar .toggle {
        display: none;
    }
}
@media (min-width: 1080px) {
    .navbar div {
        display: flex;
    }
}

@media (max-width: 1080em) {
    .navbar.active .toggle {
        background: #223047;
        color: white;
    }
    .navbar .brand {
        text-align: center;
        width: 100%;
        position: relative;
    }
    .navbar.active div {
        display: block;
    }
    .navbar .brand h3,h5{
        font-size: 30px;
    }
}

/*```````````````````````````````~`navigation~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.container{
    width: 100%;
    position: relative;
max-width: 1600px;
    margin-top: 50px;

}

.container img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: #223047;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.container .btn:hover{
    background: #007aff;
}

.row-quiz{
    display: flex;
    flex-wrap: wrap;

    margin: 20px;
    padding:0;
    height: auto;
    position: relative;


}
.row-quiz .row{
    display: flex;
    flex-wrap: wrap;
   position: relative;
    width: 30%;
    height: 300px;
    text-align: center;
    border: 2px solid white;
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px #223047;
    color: white;
    margin: 20px;

}
@media (max-width: 1080px){
    .row-quiz .row{
        width: 50%;
        margin-left: 25%;
    }
    .row-quiz{

        width: 100%;
    }

}

.story button{
    width: 40%;
    height: 40px;
    margin-left:90px;
    background: #223047;
    border: none;
    outline: none;
    transition: .6s;
    border-radius: 20px;
    color: white;

}
.story button:hover{
    background: #007aff;
}

.story .row{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 22%;
    background: white;
    height: 300px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px white;
    color: white;
    margin: 20px;

}

.story .row h1{
    padding-top: 50px;
    color: #223047;
}

.story{
    background: #223047;
    display: flex;
    flex-wrap: wrap;

    margin: 20px;
    padding:0;
    height: auto;
    position: relative;


}



@media (max-width: 1080px)
{
.story{
    width: 50%;
}
    .story .row{
        width: 90%;
    }
}

.find{
    width: 100%;
    background: #223047;
   height: 300px;
    text-align: center;
    font-size: 20px;

}
.find .content{
    color: white;
    padding-top:70px;
}
.find button{
    width: 20%;
    height: 50px;

    background: white;
    border: none;
    outline: none;
    transition: .6s;
    border-radius: 20px;
    color: #223047;

}
.find button:hover{
    background: #007aff;
}



#footer{
    padding:0;
    margin: 0;
    line-height: 1.5;
}
.container9{
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: #223047;
    color: coral;
}


#options9{
    margin-top: 6%;
    margin-bottom:0%;
}

.container9{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1.5rem;
    padding-top: 50px;
}

.box9 img{
    width: 15rem;
}

.box9 a{
    color:white;
    font-size: 20px;
}

.box9{
    padding-top: 5px;

    text-align: center;
    /*box-shadow: 5px 0px 18px #888888;*/
}
.logoname{
    width: 100%;
    float: left;
    padding: 2em;
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
    line-height: 12px;
}

.logoname h5{
    text-decoration: none;
    color: coral;
}
.box9 p{
    text-align: center;
    /* text-align: justify;*/
    padding: 8px 5px 5px 8px;
    font-size: 20px;
    font-weight: 900;
    color: coral;
}


/* media queries */
@media(max-width: 768px){

    #options9 .container9{
        display: block;
        width: 100%;
        text-align: center;
    }
    #options9 .box9{
        margin: 20px;
    }

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~~~~`````````````````````````*/

#myBtn1 {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    opacity: 0.5;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;

}

#myBtn1:hover {
    background-color: rgb(71, 33, 97);
}

#active {
    color: coral;
}