@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&family=Balsamiq+Sans:wght@400;700&family=Cinzel:wght@700&family=Courgette&family=Cutive&family=Fredoka+One&family=Indie+Flower&family=Itim&family=Kalam&family=Love+Ya+Like+A+Sister&family=Marcellus+SC&family=Merienda:wght@700&family=Roboto&family=Ubuntu&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width:100%;
  background: rgba(34, 48, 71, 0.3);
}
/*-------------------------------------------- navigation ------------------------------------------------*/
.navbar {

  background: #223047;
}

.navbar div {
  display: none;
}
.navbar .toggle,
.navbar .brand {
  display: block;
}
.navbar .link {
  display: block;
  text-align: center;
  padding: 1em;
  text-decoration: none;

  color: white;
}
.navbar .link:hover,
.navbar .link:active {
  color: coral;
  transition: 0.5s;

}

.navbar .brand {

  width: 100%;
  text-align: center;
  padding: 2em;
  font-family: 'Cinzel', serif;
  letter-spacing: 3px;

  font-weight: bold;
  color: white;
}
.navbar a {
  text-decoration: none;
}
.navbar .toggle {
  padding: 1em;
  color: #00ffea;
}
.brand h3{

  font-size: 35px;
  color: #ffffff;
  text-decoration-color: white;

}
.brand h5{
  line-height: 4px;
  font-size: 25px;
  text-align: center;


}
.navbar .brand span{
  color: coral;
  text-align: center;

}
.navbar .right{
  font-family: 'Fredoka One', cursive;
  letter-spacing: 2px;
  text-align: center;


}
@media (min-width: 1080px) {
  .navbar {
    display: block;
  }
  .navbar .left,
  .navbar .right {
    display: flex;
    flex:1;
  }
  .navbar .link {
    width: 100%;
  }
  .navbar .right {
    justify-content: flex-end;
  }
  .navbar .toggle {
    display: none;
  }
}
@media (min-width: 1080px) {
  .navbar div {
    display: flex;
  }
}

@media (max-width: 1080em) {
  .navbar.active .toggle {
    background: #223047;
    color: white;
  }
  .navbar .brand {
    text-align: center;
    width: 100%;
    position: relative;
  }
  .navbar.active div {
    display: block;
  }
  .navbar .brand h3,h5{
    font-size: 30px;
  }
}

#footer{
  padding:0;
  margin: 0;
  line-height: 1.5;
}
.container9{
  width: 100%;
  margin: auto;
  overflow: hidden;
  background: #223047;
  color: coral;
}



#options9{
  margin-top: 6%;
  margin-bottom:0%;
}

.container9{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1.5rem;
  padding-top: 50px;
}

.box9 img{
  width: 15rem;
}

.box9 a{
  color:white;
  font-size: 20px;
}

.box9{
  padding-top: 5px;

  text-align: center;
  /*box-shadow: 5px 0px 18px #888888;*/
}
.logoname{
  width: 100%;
  float: left;
  padding: 2em;
  font-family: 'Cinzel', serif;
  letter-spacing: 3px;
  font-weight: bold;
  color: white;
  line-height: 12px;
}

.logoname h5{
  text-decoration: none;
  color: coral;
}
.box9 p{
  text-align: center;
  /* text-align: justify;*/
  padding: 8px 5px 5px 8px;
  font-size: 20px;
  font-weight: 900;
  color: coral;
}


/* media queries */
@media(max-width: 768px){

  .logoname h3,h5{
    font-size: 15px;
  }

  #options9 .container9{
    display: block;
    width: 100%;
    text-align: center;
  }
  #options9 .box9{
    margin: 20px;
  }

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~~~~`````````````````````````*/

#myBtn1 {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  opacity: 0.5;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;

}

#myBtn1:hover {
  background-color: rgb(71, 33, 97);
}

#active{
  color:coral;

}



.testimonial-section{
  margin-top: 20px;
    background: rgba(34, 48, 71, 0.39);
    padding: 80px 0;

    text-align: center;
  }

  .inner-width{
    max-width:100%;
    margin: auto;
    padding: 0 20px;

  }

  .testimonial-section h1{
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 20px;
  }

  .testimonial-pics{
    padding: 40px 0;
  }

  .testimonial-pics img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 20px;
    filter: grayscale(100%);
    transition: .3s;
    cursor: pointer;
  }

  .testimonial-pics img:hover, .testimonial-pics img.active{
    filter: none;
  }


  .testimonial-contents{
    max-width: 600px;
    margin: auto;
  }

button{
  width: 150px;
  height: 50px;
  background: #223047;
  border:none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  outline: none;
}

.inner-width h1{
  font-family: 'Merienda', cursive;
  color: black;
}
.inner-width p{
font-family:'Kavivanar', cursive;
  color: white;
}
.row{

  position: relative;
  float: left;
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}

button:hover{
  transition: .9s;
  background: #007aff;
  color: white;
}

  .testimonial{
    display: none;
  }

  .testimonial.active{
    display: block;
  }

  .testimonial p{

    margin-bottom: 20px;
  }

  .testimonial .description{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
  }


@media  (max-width: 768px){
  .leftcolumn{
    display: block;
  }
  .testimonial-section h1{
    font-size: 15px;
  }

}